:root {
    --font-size: 1em;
}

a {
    /* font-weight: bold; */
    text-decoration: underline solid;
}

html, html * {
    font-family: 'Monaco', monospace !important;
}

footer p {
    font-size: 0.8em;
    text-transform: lowercase;
}

li ul li {
    list-style: none;
}

footer div.grid div:last-child {
    text-align: right;
}

@media screen and (max-width: 992px) {
    :root {
        --font-size: 0.93em;
    }

    footer div.grid div:last-child {
        text-align: unset;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --font-size: 0.87em;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --font-size: 0.8em;
    }
}
